<!DOCTYPE html>
<html id="ng-app" ng-app="myApp"> <!-- id="ng-app" IE<8 -->

<head>
    <title>Simple example</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<link href="assets/css/font-awesome.css" rel="stylesheet" />
     
        <link href="assets/css/style.css" rel="stylesheet" />
    <!-- Fix for old browsers -->
    <script src="http://nervgh.github.io/js/es5-shim.min.js"></script>
    <script src="http://nervgh.github.io/js/es5-sham.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="assets/js/console-sham.js"></script>

    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!--<script src="../bower_components/angular/angular.js"></script>-->
    <script src="http://code.angularjs.org/1.2.0/angular.min.js"></script>
    <script src="assets/js/angular-file-upload.min.js"></script>
    <!--  <script src="controllers.js"></script> -->
    <script src="assets/js/controllers.js"></script>
    <style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }

    html, body { height: 100%; }
    </style>

</head>

<body ng-controller="AppController" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
    <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <strong>Email: </strong>info@yourdomain.com
                        &nbsp;&nbsp;
                        <strong>Support: </strong>+90-897-678-44
                    </div>

                </div>
            </div>
        </header>
    <div ng-include="'header.html'"></div>
    <hr/>
    <div class="container">


        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <form role="form">
                  <div class="form-group">

                    <label for="examil1">
                      Tên sản phẩm
                  </label>
                  <input type="text" class="form-control" ng-model="tensp">
              </div>
              <div class="form-group">

                <label for="exampleInputPassword1">
                  Giá
              </label>
              <input type="number" class="form-control" ng-model="gia" >
          </div>
          <div class="form-group">

            <label for="exampleInputPassword1">
              Số lượng
          </label>
          <input type="number" class="form-control" ng-model="soluong" >
      </div>
         <div class="form-group">

            <label for="exampleInputPassword1">
              Mô tả
          </label>
          <input type="text" class="form-control" ng-model="mota" >
      </div>

      <div class="form-group">

          <label for="exampleInputPassword1">
            Ngày nhập
        </label>
        <input type="Date" class="form-control" ng-model="ngaynhap">
    </div>

   <!--  <div class="form-group">

        <label for="exampleInputFile">
          Hình ảnh
      </label>
      <form method="POST" action="uploadFile" enctype="multipart/form-data">
          <input type="file"  name="file" id="file" accept=".jpg" ng-model="hinhanh" class="form-control" >
      </form>
  </div> -->
  <div class="form-group" ng-init="getnhasanxuat()">
    <label for="exampleSelect1">Nhà sản xuất</label>
    <select ng-model="nhasx" ng-options="x.ten_nha_sx for x in nhasanxuat" class="form-control">


    </select>
</div>
<div class="form-group" ng-init="getloaisp()">
    <label for="exampleSelect1">Loại sản phẩm</label>
    <select ng-model="loaisp" ng-options="x.ten_loai_sp for x in loaisanpham" class="form-control">



    </select>
</div>

</form>
</div>
<!-- code push hinh anh -->
<div class="col-md-3 col-lg-offset-2">

    <h3>Hình ảnh</h3>


    <input type="file" nv-file-select="" uploader="uploader" />
</div>

<div class="col-md-5" style="margin-bottom: 40px">

    <h3>Upload queue</h3>
    <p>Queue length: {{ uploader.queue.length }}</p>

    <table class="table">
        <thead>
            <tr>
                <th width="50%">Name</th>
                <th ng-show="uploader.isHTML5">Size</th>
                <th ng-show="uploader.isHTML5">Progress</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in uploader.queue">
                
                <td><input ng-model="hinh_anh_sp" type="hidden" ng-value="item.file.name"/>
                    <strong >{{ item.file.name }}</strong>
                </td>
                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                <td ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td class="text-center">
                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload();sethinhanh(item.file.name)" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                </td>
            </tr>
        </tbody>
    </table>



</div>
<div class="col-md-3 col-lg-offset-2">
<button type="button" class="btn btn-primary" ng-click="createProduct()">
    Submit
</button>
</div>
</div>

</div>
<hr/>
 <div data-ng-include="'footer.html'"></div>
</body>
</html>
