<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	
<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

	<script src="lib/angular.min.js"></script>
	<script src="lib/jquery.min.js"></script>
	<script src="lib/bootstrap.min.js"></script>

	<script src="js/sanpham.js"></script>

		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"> </script>

	<!-- <script type="text/javascript" src="lib/nav.js"></script> -->
</head>
<body ng-app="myApp"  ng-controller="enventCtrl" ng-init='getEventNew()'>
	<!--header-->
	<div data-ng-include="'header.html'"></div>


	<div class="banner-mat">
		<div class="container">
			<div class="banner">

				<!-- Slideshow 4 -->
				<div class="container">
                <div class="offsetspan6">
                     <carousel interval="myInterval">
                          <slide ng-repeat="slide in sanpham" active="slide.active">

                                <img class="image-circle" ng-src="admin/uploads/{{slide.hinh_anh}}"    style="margin:auto"/>
                         <div class="carousel-caption">
                             <h4>Slide {{$index}}</h4>

                       </div>
                       </slide>
                </carousel>
          </div>
     </div>
			<!-- //slider-->
		</div>
	</div>
	<!---->
	<div class="container">
		<div class="content">
			<div class="content-top">
				<h3 class="future">Sản phẩm HOT</h3>

				<div class="content-top-in">

					<!-- get hot list sanpham -->
					<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

					<div class="col-md-3 md-col"  ng-repeat='sp in sanpham'>
						<div class=" top-products">
							<div class="col-md">
								<a href="single.html?masp={{sp.ma_sp}}"><img  src="admin/uploads/{{sp.hinh_anh}}" alt="{{sp.ten_sp}}" /></a>
								<div class="top-content">
									<h5><a href="single.html?masp={{sp.ma_sp}}">{{sp.ten_sp}}</a></h5>
									<div class="white">
										<a href="single.html?masp={{sp.ma_sp}}" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2 ">ADD TO CART</a>
										<p class="dollar"><span class="in-dollar">$</span><span>{{sp.gia}}</span></p>
										<div class="clearfix"></div>
									</div>

								</div>
							</div>

						</div>

					</div>

					<div class="clearfix"></div>
				</div>
			</div>
			<!---->

			<!---->

					<!---->
					<div data-ng-include="'footer.html'"></div>
				</body>
				</html>
